<div class="portfolio-sec-wrapper">
    <div class="portfolio-stocks-wrapper">
        <div class="portfolio-stocks-container">
            <div class="portfolio-stocks-pl-wrapper">
                <div class="portfolio-stocks-pl-container"></div>
            </div>
            <div class="portfolio-stocks-inner-container">
                <div class="portfolio-stock">
                    <div class="portfolio-stock-meta portfolio-common-style ">
                        <span class="portfolio-stock-symbol ">ITC</span>
                        <span class="portfolio-stock-quantity">Qyt: 200</span>
                    </div>

                    <div class="portfolio-stock-meta-investment portfolio-common-style">
                        <span class="portfolio-stock-meta-avg">Avg: 4052</span>
                        <span class="portfolio-stock-meta-invested">Invested:₹500</span>
                    </div>

                    <div class="portfolio-stock-meta-investment ">
                        <span class="portfolio-stock-meta-avg"></span>
                        <span class="portfolio-stock-meta-current">current: 600</span>
                    </div>

                </div>
                <div class="portfolio-stock">
                    
                </div>
                <div class="portfolio-stock">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-analytics-wrapper"></div>
</div>
